.submit-level-answers-form {
    margin-top: 1.5rem;

    display: flex;
    justify-content: center;
}

.submit-level-answers-form > button {
    font-size: var(--fs-base);
    font-weight: 700;
    letter-spacing: 0.18rem;
    
    padding: 0.6rem 3.25rem;

    transition: 0.2s;

    animation: fadeDown 0.7s 0.7s ease both;
}

@media (min-width: 40rem) {
    .submit-level-answers-form > button {
        padding: 0.75rem 5rem;
    }
}
