.rules-container {
    max-width: max-content;

    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
}

@media (min-width: 40rem) {
    .rules-container {
        gap: 1.25rem;
    }
}