.homepage-actions a {
    text-decoration: none;
    display: block;
}

.homepage-actions .play-game {
    font-size: var(--fs-lg);
    font-weight: 700;

    padding: 1rem 3rem;
    margin-bottom: 1.5rem;

    animation: fadeUp 0.7s 0.3s ease both;
}

.about-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1.2rem;
    animation: fadeUp 0.7s 0.45s ease both;
}

.about-actions a {
    padding: 0.65rem 2rem;
}